{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero hero-pages">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        
    </div>
</section>


<section class="begin-process">

    
        
      <div class="begin-container">
        <div class="begin-content">

            <div class="begin-no-box">
                <div class="begin-item-no">
                    
                    <p>1</p>
                </div>
            </div>
                

            <h1>STARTING POINT</h1>
            <p>Accept Jesus as your LORD and Personal SAVIOUR. </p>
            <p>Romans 10 : 9 - 10</p>
        </div>

        <div class="begin-content">

            <div class="begin-no-box">
                <div class="begin-item-no">
                    
                    <p>2</p>
                </div>
            </div>
                

            <h1>Transformation of the Mind</h1>
            <p>Transform your Mind Methodically. </p>
            <p>Romans 12 : 2</p>
        </div>

        <div class="begin-content">

            <div class="begin-no-box">
                <div class="begin-item-no">
                    
                    <p>3</p>
                </div>
            </div>
                

            <h1>The Holy Spirit</h1>
            <p>Receive the empowerment of the HolySpirit </p>
            <p>Acts 1 : 8</p>
        </div>

        <div class="begin-content">

            <div class="begin-no-box">
                <div class="begin-item-no">
                    
                    <p>4</p>
                </div>
            </div>
                

            <h1>Contend for Humility</h1>
            <p>Receive the empowerment of the HolySpirit </p>
            <p>1 Corinthians 8 : 1</p>
        </div>


      </div>
        
    
</section>



{% endblock %}