{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero hero-pages">
    <img src="{% static '/img/give.jpeg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Giving</h2>
    </div>
</section>
<section class="contact-us">

    <div class="contact-container">
        
        <div class="contact-info">
            
            <div class="info">
                <div class="ways-to-give-item">

                    <div class="give-title">
                        <i class='bx bxs-bank'></i>
                        <h4>Bank Transfer/Deposit</h4>
                    </div>
                    

                    <p>Deposits and Transfers can be made into Koinonia Account.</p>

                    <div class="give-item">
                        <p class="give-top"> ACCOUNT NAME: </p> 
                        <p> ETERNITY NETWORK INTERNATIONAL</p> 
                    </div>
                    
                    <div class="give-item">
                        <p class="give-top">BANK NAME:</p>
                        <p> GUARANTY TRUST BANK (GTB) </p>
                    </div>
                    
                    <div class="give-item">
                        <p class="give-top">ACCOUNT NUMBER:</p>
                        <p>0113343316</p>
                    </div>
                     
                    <div class="give-item">
                        <p>0459170230 (USD <i class='bx bx-dollar'></i>)</p>
                        <p>0459170247 (GBP <i class='bx bx-pound'></i>)</p>
                        <p>0459170089 (EUR <i class='bx bx-euro'></i>)</p>
                    </div>
                    
                    <div class="give-item">
                        <p class="give-top">Branch:</p>
                        <p> 13/15 Manchester Road, GRA, Zaria, Kaduna State</p>
                    </div>
                
                    <p>SORT CODE: 058118119</p>
                    <p>SWIFT CODE: GTBINGLA</p>
                </div>
            </div>


        </div>

        <div class="contact-form">
            

            <form action="" class="form-action">

                <div class="ways-to-give-item">

                    <div class="give-title">
                        <i class='bx bx-donate-heart'></i>
                        <h4>In Person</h4>
                    </div>
                    
                    <p>Just place your check or cash in the offering boxes during any of our service.</p>
                </div>

            </form>

        </div>
    </div>

</section>



{% endblock %}