{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero give">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Testimonies</h2>
        <p>It's Intimacy, Partnership and Fellowship!!!</p>
    </div>
</section>

<section class="blog">
    <div class="blog-container">
        
        <div class="blog-showcase">
            
            <div class="blog-showcase-container">
                <h2 class="sub-title">Testimonies</h2>
                <p class="header-intro-sm">Have a testimony you would like to share?</p>
                <div class="btn btn-b"><a href="">Share Your Testimony &#8594</a></div>


                <div class="showcase-vid">
                    <div class="testimony-video">
                        <video controls width="100%" class="vid">

                            <source src="/media/cc0-videos/flower.webm"
                                    type="video/webm">
                        
                            <source src="/images/test.mp4"
                                    type="video/mp4">
                        
                            Sorry, your browser doesn't support embedded videos.
                        </video>
                    </div>
                </div>
                

            </div>

            
            

        </div>

        <div class="koinonia-blog">
            <div class="blog-showcase-container">

                
                <div class="blog-row">
                    
                    <div class="blog-col" data-name="p-1">
                            <img src="{% static '/img/test1.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Gift C. | Abuja, Nigeria</p>
                            <h3>Pregnancy Inducing Sermons</h3> 
                        
                    </div>

                    <div class="blog-col" data-name="p-2">
                        
                            <img class="testimony_img" src="{% static '/img/test2.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Agyeiwaa | Accra Ghana</p>
                            <h3>Breakthroughs in Germany</h3>
                        
                    </div>

                    <div class="blog-col" data-name="p-3">
                        
                            <img class="testimony_img" src="{% static '/img/test3.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Emmanuel N.I | Illinois, USA</p>
                            <h3>Restored Admission and Scholarship</h3>
                        
                    </div>

                    <div class="blog-col">
                        
                            <img class="testimony_img" src="{% static '/img/test4.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Anonymous| Louisiana, USA</p>
                            <h3>All Prayers Answered</h3>
                       
                    </div>

                    <div class="blog-col">
                       
                            
                            <img src="{% static '/img/test5.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Alade S. | Louisiana, USA</p>
                            <h3>Miracle Job in 24hrs</h3>
                        
                    </div>

                    <div class="blog-col">
                        
                            <img class="testimony_img" src="{% static '/img/test6.jpg' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Sandra | Malaysia</p>
                            <h3>Brand New Organ Muscles</h3>
                        </a>
                    </div>
                
                </div>
            </div>
 
            
        </div>
        
        </div>
    

       
</section>



{% endblock %}